/* pass-forg.component.css */

.pass-forg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }
  
  .pass-forg-content {
    width: 400px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .pass-forg-title {
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(218deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: #ffffff;
    width: 300px
  }
  
  .pass-forg-input {
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #c2e2ff;
    border-radius: 3px;
    font-size: 14px;
    color: #34495e;
  }
  
  .pass-forg-button {
    width: 100%;
    padding: 10px;
    background-color: #2980b9;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
  }
  
  .pass-forg-button:hover {
    background-color: #2471a3;
  }
  
  /* Estilos para dispositivos móviles */
  @media screen and (max-width: 480px) {
    .pass-forg-content {
      width: 90%;
    }
  
    .pass-forg-title {
      font-size: 20px;
    }
  
    .pass-forg-input,
    .pass-forg-button {
      font-size: 12px;
    }
  }
  
  /* Estilos para tablets */
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .pass-forg-content {
      width: 80%;
    }
  }
  
  /* Estilos para PC */
  @media screen and (min-width: 769px) {
    .pass-forg-content {
      width: 35%;
    }
  }
  